.namespace-topBar {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.namespace-table {
    min-height: 750px;
    &:before {
        height: 0 !important;
    }
}
.namespace-pagination {
    margin: 20px 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.namespace-detail-btn {
    margin-right: 10px;
}
.detail-empty-link {
    display:flex;
    & .detail-empty-link-text {
        font-size: 16px;
        margin:0 2px;
    }
}
